<header>
  <h1>{{appName}}</h1>
  <hr>
</header>
<a href="/">Home</a>
<a href="/restaurants">Restaurants</a>
<a href="/orders">Orders</a>
<a href="/users">Users</a>
<a href="/login">Login</a>
{{outlet}}
<footer>
  &copy;2015
</footer>
